#profilePhoto{
	max-height: 400px;
	max-width: 100%;
	margin-bottom: 40px;
}

.portfolio-item{
	height: 400px;
}


#jewel{
	width: 400px;
}

.logos{
	max-height: 125px;
	height: auto;
}

#express{
	width: 200px;
}

#native{
	width: 190px;
	height: 160px;
}